[Unit]
Description=Minecraft Server
After=network.target

[Service]
ExecStart=/usr/local/bin/mine/server/startMinecraft.sh

[Install]
WantedBy=multi-user.target
